* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    width: 100%; 
    overflow: hidden scroll;   
    font-family: IBM Plex Sans;
}

/* Global */
.section {
    padding: 50px 0;
}

.header {
    font-size: 35px;
    text-transform: uppercase;
}


/*- Hero Section -*/

.main__wrapper {
    width: 100vw;
    height: 100vh;  
    position: relative;    
}

/*-- Main background --*/

.main__background {
    position: absolute;
    height: 100%;
    width: 100%;   
    z-index: -2;
}

.darken__background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

/*-- Navbar --*/

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    position: fixed;
    width: 100%;
    font-size: 18px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

/*--- Navbar logo ---*/

.logo {
    margin-left: 50px;
    width: 70px;
    height: 70px;
}

.logo img {
    width: 100%;
    border-radius: 10px;
}

/*--- Navbar lists ---*/

.nav__list {
    margin-right: -100px;
    display: flex;
    flex-direction: row;    
    text-align: center;
    justify-content: center;
}

.nav__list li {
    list-style: none;
    margin: 2px 15px;
}

.nav__list li a {
    text-decoration: none;
    color: #fff;
    border-bottom: 2px transparent;
    padding-bottom: 5px;
}

.nav__list li a:hover {
    border-bottom: 2px solid #fff;
}

/*--- Navbar "get now" button ---*/

.get__now {
    margin-right: -60px;
    width: 400px;
    text-align: center;  
}

.get__now a {
    color: #fff;
    text-decoration: none;
    border: solid; 
    border: 2px solid #fff;   
    border-radius: 25px; 
    padding: 10px 67px;    
    width: 400px;    
}

.get__now a:hover {
    color: #6c0081;
    background-color: #fff;
}

/* -- Main content --*/

.main__content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
    padding-top: 100px;
    /*padding-bottom: 100px;  */
}

.content__wrapper {
    display: flex;
    flex-direction: column;    
    justify-content: flex-end;
    text-align: left;
    padding: 15px;
    width: 700px;
    margin-bottom: 5%;
}

.content__wrapper h1 {
    font-size: 50px;
    font-weight: 500;
}

.content__wrapper p {
    font-size: 18px;    
}

.content__btns {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;     
    text-align: center;
}

.content__btns a {
    text-decoration: none;
    border: 2px solid #fff;    
    font-size: 20px;
    padding: 10px 5px;
    min-height: 10px;
    min-width: 200px;             
    border-radius: 25px;    
    margin-right: 20px;    
}

.left__btn{
    color: #000;    
    background-color: #fff;
}

.left__btn:hover {
    color: #fff;
    background: transparent;
}

.right__btn{
    color: #fff;    
}

.right__btn:hover {
    color: #000;
    background: #fff;   
}

.hero__img {
    width: 35%;  
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.phone__image {
    height: 60vh;
    margin-left: 0%;
}

/*-- Background image-styling: add rectangle at the bottom --*/

/* Defunct - hard to make it works across different screen resolution.
.triangle {
    padding-top: 2%;
    width: 0;
    height: 0;  
    border-bottom: 200px solid white;
    border-left: 1420px solid transparent;
    margin-bottom: -250px;
}
*/

/*===================================================*/

/*- Overview Section -*/

.section {
    padding-bottom: 80px ;
    width: 100%;
    height: 100%;   
    background: white;
}

.overview {
    text-align: center;
}

.overview__text {
    margin: 0px auto;
    margin-bottom: 60px; 
    width: 630px;     
    font-size: 18px;       
}

.overview__details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding: 10px;    
}

.details__boxes {
    width: 300px;
    padding: 20px 10px;
    margin: 1px 10px;     
    font-size: 16px;
}

.fas {
    margin-top: 20px;    
    color:  #4776e6;
}

.details__boxes hr {
    width: 7%;
    border-top: 3px solid #4776e6;    
    margin-top: 30px;
}

.details__boxes h6 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 30px;
}

.details__boxes p {
    font-size: 16px;
}

.details__boxes:hover {
    box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.2);
}


/*- How It Works section -*/

.how_it_works {
    width: 100%;
    text-align: center;
    background-color: #6c0081;  
    color: #fff;
}

.how_it_works_text {
    width: 600px;
    margin: auto;
}

.how_it_works .images {
    margin: 100px auto;
    display: flex;
    justify-content: center;        
}

.how_it_works img {
    margin: 0 30px;
    align-self: center;
}

.how_it_works .features {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;    
}

.how_it_works .features .boxes {    
    width: 270px;
    z-index: -0;
}

.how_it_works .features >hr {
    position: absolute;
    width: 750px;
    margin-top: 22px;
    margin-left: 120px;
    border: none;
    border-top: 1px solid #fff;
}

.how_it_works .features .boxes hr {
    width: 5%;
}

.how_it_works .features .boxes .number{
    border: 1px solid #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: auto;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6c0081;    
}

/*- Screenshot -*/

.screenshot {
    text-align: center;    
}

.screenshot_text {
    width: 600px;
    margin: auto;
}

.screenshot_body {
    display: flex;
    flex-direction: column;
}

.screenshot_body .body_navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.screenshot_body .body_navbar li {
    list-style: none;
    font-size: 16px;
    padding: 5px 15px;
    margin: 15px;
    border: 1.5px solid #fff;
    border-radius: 15px;
    cursor: pointer;
}

.screenshot_body .body_navbar li:first-child{
    border-color: #4776e6;
}

.screenshot_body .body_navbar li:hover {
    border-color: #4776e6;
}

.body_carousel {
    display: flex;
    margin: auto;
}

.body_images {
    margin: 0 5px;
    cursor: pointer;
}

.dots {
    margin: auto;     
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.dot {
    width: 15px;
    height: 15px;
    border: 1px solid #4776e6;
    background-color: #ffffff;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;    
}

.dot:first-child {
    background-color: #4776e6;
}

/*- Video Demo Section -*/

.demo {
    text-align: center;
    background: url('../images/pexels-photo-892757.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #fff;
    padding: 200px 0;
    margin: auto;  
    width: 100vw;
    height: 70vh     
}

.demo_content {
    background-image: linear-gradient(-90deg, rgba(142, 84, 233, 0.88) 0%, rgba(71, 118, 230, 0.88) 100%);
    height: 70vh;
    margin-top: -200px;
    align-self: center;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.play_button {
    width: 150px;
    align-self: center;
    justify-self: center;
    height: 150px;
    display: block;    
    margin: 0 auto;
    margin-bottom: 10px; 
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.play_button:hover {
    background-color: rgba(230, 230, 230, 0.5);
}

.fa-play {
    margin: auto;
    margin-top: 40px;
    padding-left: 15px;
    color: #fff;
}

.demo .demo_content p {
    font-size: 18px;
    margin-top: 0;
}

/*- Testimony -*/

/*-- Testimony Header --*/

.testimony {
    text-align: center;
    background: #eee;
    margin-bottom: 0;
}

.testimony_header {
    width: 650px;
    margin: 0 auto;
}

.testimony_header p {
    font-size: 16px;
}

.testimonies {
    margin: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimony_box p{
    position: relative;
    display: inline-block;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 15px 0;
    width: 700px;
    z-index: 1;
    margin-bottom: 0;
    font-size: 20px;
}

.testimony_box p:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border: 10px solid;
    border-color: #fff transparent transparent transparent;
}

.testimony_box h4 {
    color: #4776e6;
    font-size: 18px;
}

/*- Team Section -*/

.team {
    background: url('https://tinyurl.com/y7qoyxta');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.background_img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-image: linear-gradient(-90deg, rgba(142, 84, 233, 0.95) 0%, rgba(71, 118, 230, 0.95) 100%);
    z-index: 0;
}

.team_header {
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 3;    
}

.team_header p {
    font-size: 20px;
}

.team_body {
    z-index: 3;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.team_members {    
    color: #000;
    background-color: #fff;
    width: 400px;
    height: 100%;
    margin: 0 5px;
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-content: center;
    border-radius: 15px;
}

.team_members .member_img {
    height: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;    
}

.team_members .member_img img {
    height: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.team_members .member_bio {
    margin-bottom: -15px;
}

.team_members .member_bio h4 {
    font-size: 25px;
    margin-bottom: -15px;
}

.team_members .member_bio h5 {
    font-style: italic;
    font-size: 22px;
    font-weight: 500;
    color: #444;
}

.team_members hr {
    width: 40%;
    border: 0.3px solid;
    color: #aaa;
}

.team_members .social {
    width: 100%;
    padding: 5px;
}

.team_members .social ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0;
}

.team_members .social ul li {
    font-size: 30px;
}

.fab:hover {
    color: #aaa;
    cursor: pointer;
}

.fa-facebook-square {
    color: #4267b2;
  }
  
.fa-twitter-square {
    color: #1da1f2;
}
  
.fa-instagram {
    color: #ab2b8f;
}
  
.fa-github {
    color: #000;
}
  
.fa-linkedin {
    color: #0274b3;
}

/*- Pricing Section -*/

.pricing {
    text-align: center;
    font-size: 16px;
}

.pricing_header {
    margin: 50px auto;
    margin-top: 0px;
    width: 700px;
}

.pricing_body {
    padding: 10px;
}

.pricing_body .price_list {
    list-style: none; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0;
    width: 70%;
    margin: 50px auto;
}

/*-- Packages --*/

.pricing_body .price_list .package {
    width: 350px;
    border: 1.5px solid #eee;
    border-radius: 5px;
    position: relative;
}

/*--- Package Title ---*/

.pricing_body .price_list .package .package_title {
    margin-bottom: 25px;
    border-bottom: 1.5px solid #eee;
    padding-bottom: 20px;
}

.pricing_body .price_list .package .package_title h3 {
    font-size: 30px;
    color: #4267b2;
}

.pricing_body .price_list .package .package_title .fas {
    font-size: 100px;
    color: #4776e6;
}

/*--- Details ---*/

.package .package_details {
    list-style: none;
    padding-left: 0;            
}

.package .package_details li {
    margin: 10px auto;    
    line-height: 40px;
    color: #444;
    font-size: 20px;
}

.package .package_details .price {
    color: #4267b2;
    font-size: 20px;
    font-weight: 1000;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-content: center;    
    margin: 40px 0;
    border-bottom: 1.5px solid #eee;
    padding-bottom: 30px;
}

.package .package_details .price span {
    font-size: 60px;
}

/*--- Order button ---*/

.package .package_details .order {
    padding: 0 20px;
    padding-bottom: 40px;
}

.package .package_details .order button {
    border: 2px solid #4776e6;
    color: #4776e6;
    background-color: #fff;
    border-radius: 25px;
    padding: 10px 23px;
    cursor: pointer;
    font-size: 25px;
}

.package .package_details .order button:hover {
    color: #fff;
    background-color: #4776e6;
    transition: .4s;
}

/*-- Best Value Pack styling --*/

.best_value .tag {
    position: absolute;
    background-color: rgba(255, 0, 0, 1);
    width: 250px;
    padding: 1px;
    transform: rotate(45deg);
    right: -80px;
    top: 25px;
    border: none;
}

.tag p {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

.best_value {
    transform: scale(1.05);
    border: none;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}